.col-md-4 {
  width: 33.33333333%;
}
.project-section {
  position: relative;
  padding: 15px auto;
}
.project-heading {
  padding-top: 30px;
}
.project-card {
  padding: 20px 25px;
  height: auto;
}

.project-card-view {
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459);
  background-color: transparent;
  opacity: 0.9;
  transition: all 0.5s ease 0s;
  height: 100%;
}
.project-card-view:hover {
  transform: scale(1.02);
  overflow: hidden;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561);
}
.card-title {
  text-align: center;
}

.project-body {
  justify-content: center;
  padding-bottom: 10px;
}

.btn {
  background-color: blueviolet;
  border-color: blueviolet;
}
.git {
  margin-left: 50px;
}
