div {
  display: block;
}

.myAvtar {
  justify-content: center !important;
  padding-top: 2.5em !important;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

h2 {
  color: var(--project-card-text) !important;
}
.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
  color: var(--project-card-text) !important;
}
.purple {
  color: #9631c4;
}
