.footer {
  margin-top: auto;
  padding: 60px 0 50px;
  background-color: var(--footer-bg);
  color: var(--footer-text);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
}
@media (max-width: 425px) {
  .social__item img {
    height: 28px;
  }
}
@media (max-width: 767px) {
  .social__item img {
    width: 28px;
    height: 28px;
  }
}

.social {
  display: flex;

  padding-left: 0;
  column-gap: 30px;
  align-items: center;
}

.copyright {
  font-size: 16px;
}

.copyright p + p {
  margin-top: 0.5em;
}
